apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres
spec:
  serviceName: postgres
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:15
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_USER
              value: admin
            - name: POSTGRES_PASSWORD
              value: admin123
            - name: POSTGRES_DB
              value: postgres
          volumeMounts:
            - name: init-db
              mountPath: /docker-entrypoint-initdb.d/
      volumes:
        - name: init-db
          configMap:
            name: postgres-init-config
